# Python
.venv/
.DS_Store
habitat-lab
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.env
.idea/
.vscode/
*.log
*.pot
.coverage
.pytest_cache/
*.egg
dist/
build/
# render scratch
videos_turing/
videos/v3/
videos/final/
.vizjob/
*.checks.json
videos/rl_pretty*/
